.carousel {
  background-color: #efefef;
  border-radius: 1rem;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.black-friday {
  border-radius: 1rem;
  color: var(--color-secondary);
  font-weight: 900;
  height: 12rem;
  left: 4.3vw;
  margin-top: -6rem;
  position: absolute;
  z-index: 99;
}

.carousel-inner {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease;
  z-index: 1;
}

.carousel-item {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  outline: none;
}

.carrousel-name {
  color: var(--color-text-dark);
  height: 3rem;
  margin: 0.8rem 0.6rem;
}

.carrousel-img-div {
  position: relative;
}

.carrousel-discount {
  align-items: center;
  background-color: var(--color-tertiary);
  border-radius: 50%;
  bottom: 0;
  color: white;
  display: flex;
  font-size: 2.5rem;
  font-weight: 900;
  height: 7rem;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 4px black;
  width: 7rem;
  z-index: 99;
}

.carrousel-values {
  align-items: center;
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 1em 0.5em;
}

.fake-price {
  font-size: 1.5rem;
  text-decoration: line-through;
}
