.main-header {
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  display: flex;
  height: 9rem;
  justify-content: space-between;
  margin-bottom: 10rem;
  overflow: hidden;
  padding: 0 6vw;
  width: 100vw;
}

.left-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 42%;
}

.logo-icon {
  height: 5rem;
  width: 5rem;
}

.header-icon {
  color: var(--color-text-light);
  height: 3rem;
  width: 3rem;
}

.nav-links-header {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.nav-buttons {
  background-color: inherit;
  border: none;
  color: var(--color-text-light);
  font-weight: 900;
}

.right-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-left: 2%;
  width: 28%;
}

.cart-container {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
}

.bag-btn {
  background: inherit;
  border: none;
  color: var(--color-text-light);
  outline: none;
}

.cart-values-container {
  align-items: flex-start;
  border-radius: 50%;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-left: 1em;
}

.username-info {
  display: flex;
}

.name-div {
  align-items: flex-start;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-left: 1em;

}

.header-login-btn {
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.8) 0 2px 4px 0;
  color: var(--color-text-light);
  font-size: 1.8rem;
  font-style: uppercase;
  font-weight: 900;
  padding: 0.5em 1em;
  text-shadow: 0 0 2px black;
}

.header-login-btn:hover {
  background-color: var(--color-status-preparing);
  box-shadow: rgba(0, 0, 0, 0.8) 0 2px 6px 2px;
  transition: all 0.3s ease-in-out;
}

.login-header-btn {
  background-color: inherit;
  border: none;
  outline: none;
}

