:root {

  --color-primary: #163937;

  --color-secondary: #11484de5;

  --color-tertiary: #b45f2b;

  --color-status-delivered: #075c38;

  --color-status-preparing: rgb(165, 86, 17);

  --color-status-pending: #7a7c13;

  --color-default-grey: #d3d2d2;

  --color-text-dark: rgb(80, 80, 80);

  --color-input: rgb(224, 228, 233);

  --color-text-light: rgb(224, 228, 233);

  --color-input-valid: #175e62;

  --color-input-invalid: #a95a42d1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f0f0f0;
  font-family: Roboto , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.96;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.35;
}

button:active {
  transform: translate(-1%, -1%) scale(0.99);
  transition: all 0.1s ease-in-out;
}

p {
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: none;
}

.default-input {
  background-color: var(--color-input);
  border: none;
  color: var(--color-text-dark);
  font-size: 1.7rem;
  font-weight: 900;
  height: 40%;
  outline: none;
  padding-left: 3%;
}

.default-input::placeholder {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.default-input:focus::placeholder {
  opacity: 0;
}

.small-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.medium-text {
  font-size: 1.8rem;
  font-weight: 300;
}

.large-text {
  font-size: 2rem;
  font-weight: 300;
}

.title-text {
  font-size: 3rem;
  font-weight: 900;
}

.decrease {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.increase {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

::-webkit-scrollbar {
  background: inherit;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 50%;
}
