/* You can add global styles to this file, and also import other style files */
:root {

  --color-primary: #036b52;

  --color-secondary: #2fc18c;

  --color-tertiary: #421981;

  --color-quaternary: #056cf9;

  --color-status-delivered: #00cc9b;

  --color-status-preparing: #6c0;

  --color-status-pending: #ccb800;

  --color-text-dark: #001813;

  --color-text-light: #f2fffc;

  --color-input-valid: #42a948;

  --color-input-invalid: #a94442;

  --color-border-gray-light: #b1c2be;

  --color-bg-blue-light: #eaf1ef;

  --color-bg-light: #f2fffc;

  --color-white: white;

  --font-title: normal 400 28px roboto , sans-serif;

  --font-button: normal 400 20px roboto , sans-serif;

  --font-label: normal 400 16px roboto , sans-serif;

  --border-button-tertiary: 2px solid var(--color-primary);

  --border-button: 2px solid transparent;

  --border-input: 1px solid var(--color-text-dark);

  --border-input-focus: 2px solid var(--color-primary);

  --input-required-valid: 5px solid var(--color-input-valid);

  --input-required-invalid: 5px solid var(--color-input-invalid);

}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto , sans-serif;
  margin: auto;
}

.button {
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font: var(--font-button);
  height: 44px;
  justify-content: center;
  margin: 0 0 8px;
  width: 300px;
}

.button_primary {
  background: var(--color-primary);
  color: var(--color-text-light);
}

.button_secondary {
  background: var(--color-secondary);
  color: var(--color-text-light);
}

.button_tertiary {
  border: var(--border-button-tertiary);
  color: var(--color-primary);
}

.label {
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  font: var(--font-label);
  justify-content: center;
  width: 300px;
}

.input {
  background: var(--color-white);
  border: var(--border-input);
  border-radius: 4px;
  font: var(--font-label);
  height: 44px;
  margin: 0 0 8px;
  outline: none;
  padding: 16px;
  width: 300px;
}

